$c-white: #ffffff;
$c-black: #000;
$c-header-bgc: #383b3e;
$c-header-sec-bgc: #23262a;
$c-font-header: #ced3da;
$c-input-bgc: #4d5156;
$c-notification: #d2592a;
$c-aside-bgc: #a0c370;
$w-h-aside: 80px;
$header-height: 70px;
$m-30: 30px;
$c-font-main-title: #6e747d;
$c-border-online: #a0c370;
$c-border-hours: #4e7d7c;
$c-border-tournaments: #a0c370;
$c-border-fails: #d2592a;
$c-border-comments: #a0c370;
$c-border-games: #d2592a;
$c-font-nums: #5e636b;
$c-stats-bg: #f6f6f6;
$c-graphs-bg: #f2f2f3;
